# SmartLogix Environment Variables - Example

# API Gateway
API_GATEWAY_PORT=8080

# BFF Service
BFF_PORT=8084

# Inventory Service
DB_INVENTORY_URL=
DB_INVENTORY_USER=
DB_INVENTORY_PASS=

# Order Service
DB_ORDERS_URL=
DB_ORDERS_USER=
DB_ORDERS_PASS=

# Shipping Service
DB_SHIPPING_URL=
DB_SHIPPING_USER=
DB_SHIPPING_PASS=

# Frontend
VITE_API_BASE_URL=http://localhost:8080
